@font-face {
  font-family: champagne;
  src: url(./assets/fonts/Champagne\ &\ Limousines.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: url(./assets/1131968.jpg) center/cover fixed;
  font-family: "champagne";
}

navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(247, 152, 226, 0.027);
  border-radius: 6px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.055);
}
.logoo {
  width: 20%;
  margin: 0 auto;
}
.logo {
  background: url(./assets/logow.png) center/cover;
  position: absolute;
  height: 80px;
  width: 260px;
  left: 20px;
  top: 8px;
}

.nav {
  width: 60%;
  margin: 0 0 0 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  padding: 0 60px;
  margin: 0 30px;
  cursor: pointer;
  color: aliceblue;
  font-family: "champagne";
  font-size: 1.3rem;
  font-weight: 400;
  transition: 0.5s;
}
li:hover {
  color: rgb(236, 116, 236);
  background: rgba(0, 0, 0, 0.082);
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.social {
  width: 15%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: aliceblue;
}

i {
  padding: 12px;
  cursor: pointer;
  transition: 0.5s;
}
i:hover {
  color: rgb(236, 116, 236);
  background: rgba(0, 0, 0, 0.082);
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.text-area {
  padding: 50px;
}

.text-area h1 {
  color: aliceblue;
  font-family: "champagne";
  font-size: 8rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin: 40px;
  letter-spacing: 5px;
}
.text-area h2 {
  display: flex;
  justify-content: center;
  font-family: "champagne";
  font-size: 9rem;
  letter-spacing: 5px;
  line-height: 130px;
}
.text-area h4 {
  padding: 100px;
  font-family: "champagne";
  font-size: 1.5rem;
  text-align: center;
}
/* test carousel */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: rgb(228, 228, 228);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
  color: #2196f3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: rgb(119, 18, 139);
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
